{{! File: systems/surge/templates/sheets/item-sheet.hbs }}
<form class='{{cssClass}}' autocomplete='off'>

  {{! Item Sheet Header }}
  <header class='sheet-header item-header'>
    <img
      class='profile-img item-img'
      src='{{item.img}}'
      data-edit='img'
      title='{{item.name}}'
    />
    <div class='header-fields'>
      <h1 class='charname itemname'><input
          name='name'
          type='text'
          value='{{item.name}}'
          placeholder='Item Name'
        /></h1>
      {{! We can add other header info later }}
      <div class='item-type'>Type: {{item.type}}</div>
    </div>
  </header>

  {{! Item Sheet Body }}
  <section class='sheet-body'>
    {{! We will add inputs for description, weight, price, and type-specific fields here }}
    <p>Item Sheet for
      {{item.name}}
      (Type:
      {{item.type}}) - Content coming soon!</p>
    <p>(Data is being loaded - check console log!)</p>
  </section>

</form>