<form class='{{cssClass}} flexcol' autocomplete='off'>

  {{! NPC Header }}
  <header class='sheet-header'>
    <div class='header-top-row flexrow'>
      <img
        class='profile-img'
        src='{{actor.img}}'
        data-edit='img'
        title='{{actor.name}}'
        height='100'
        width='100'
      />
      <div class='charname-block'>
        <h1 class='charname'>
          <input
            name='name'
            type='text'
            value='{{actor.name}}'
            placeholder='NPC Name'
          />
        </h1>
        <div class='npc-role-input'>
          <input
            type='text'
            name='system.details.role.value'
            value='{{systemData.details.role.value}}'
            placeholder='Role / Type (e.g. Guard)'
            style='font-style: italic;'
          />
        </div>
      </div>
    </div>

    {{! Resources Row }}
    <div class='npc-resources-row flexrow'>
      <div class='resource-group'>
        <label>HP</label>
        <div class='resource-inputs flexrow'>
          <input
            type='text'
            name='system.passives.hp.value'
            value='{{displayHP}}'
            data-dtype='Number'
          />
          <span> / </span>
          <input
            type='text'
            name='system.passives.hp.max'
            value='{{displayMaxHP}}'
            data-dtype='Number'
          />
        </div>
      </div>
      <div class='resource-group'>
        <label>Move</label>
        <input
          type='number'
          name='system.passives.movement.value'
          value='{{displayMovement}}'
        />
      </div>
      <div class='resource-group'>
        <label>Menace</label>
        <input
          type='number'
          name='system.passives.menace.base'
          value='{{systemData.passives.menace.base}}'
        />
      </div>
      <div class='resource-group'>
        <label>Recovery</label>
        <input
          type='number'
          name='system.passives.recovery.value'
          value='{{displayRecovery}}'
        />
      </div>
    </div>
  </header>

  <hr />

  {{! Main Content Area (2 Columns) }}
  <div class='sheet-body flexrow'>

    {{! LEFT COLUMN: Attributes }}
    <aside class='sidebar-attributes'>
      <h3 class='item-list-header'>Attributes</h3>
      <div class='attributes-stack'>
        {{#each systemData.attributes as |attr key|}}
          <div class='attribute-box'>
            <label
              class='rollable'
              data-attribute='{{key}}'
            >{{attr.label}}</label>
            <input
              class='attribute-value'
              type='number'
              name='system.attributes.{{key}}.value'
              value='{{attr.value}}'
            />
          </div>
        {{/each}}
      </div>
    </aside>

    {{! RIGHT COLUMN: Skills, Actions, Gear }}
    <section class='main-content'>

      {{! Condition Actions }}
      {{#if conditionActions.length}}
        <div class='condition-actions-container'>
          <div class='condition-actions-list'>
            {{#each conditionActions as |action|}}
              <button
                type='button'
                class='condition-action-btn'
                data-action='{{action.id}}'
              >
                <i class='{{action.icon}}'></i>
                {{action.label}}
                <span class='cost'>({{action.cost}})</span>
              </button>
            {{/each}}
          </div>
        </div>
      {{/if}}

      {{! Skills Grid }}
      <h3 class='item-list-header'>Skills</h3>
      <div class='skills-grid grid grid-3col'>
        {{#each systemData.skills as |skill key|}}
          <div class='skill-entry flexrow'>
            <label class='rollable' data-skill='{{key}}'>{{skill.label}}</label>
            <input
              type='number'
              name='system.skills.{{key}}.value'
              value='{{skill.value}}'
            />
          </div>
        {{/each}}
      </div>

      {{! Inventory & Attacks }}
      <h3 class='item-list-header' style='margin-top: 10px;'>Gear & Attacks</h3>
      <ol class='item-list'>
        {{#each actor.items as |item id|}}
          <li class='item flexrow' data-item-id='{{item.id}}'>
            <img class='item-image' src='{{item.img}}' width='24' height='24' />
            <h4 class='item-name'>{{item.name}}</h4>
            <div class='item-controls'>
              {{#if (eq item.type 'weapon')}}
                <a class='item-control item-roll-attack' title='Attack'><i
                    class='fas fa-crosshairs'
                  ></i></a>
                <a class='item-control item-roll-damage' title='Damage'><i
                    class='fas fa-dice-d6'
                  ></i></a>
              {{/if}}
              <a class='item-control item-edit' title='Edit'><i
                  class='fas fa-edit'
                ></i></a>
              <a class='item-control item-delete' title='Delete'><i
                  class='fas fa-trash'
                ></i></a>
            </div>
          </li>
        {{/each}}
      </ol>

    </section>
  </div>
</form>